* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    font-family: 'Rubik Mono One', sans-serif;
}

/* /common */

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: blueviolet;
}
/* barra navigazione */
.button{
    position: fixed;
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    z-index: 2;
}
.contenitore-bottoni {
    position: relative;
}
ul {
    position: absolute;
    right: 0;
}
nav li {
  
    display: inline;
    list-style: none;
}
nav li a {
    /* display: inline-block;
    width: 30px;
    height: 30px; */
    background-color: white;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    line-height: 100px;
    text-decoration: none;
    color: black;


}
/* fine barra navigazione */
/* inizio sezione scarpe  */
div.shoes {
    position: relative;
  
    width: 100vw;
    height: 100vh;
}
.scatola-scarpe{
    position: absolute;
    width: 750px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%)
   

}
img {
    width: 750px;
}
p {
    color: yellow;
    font-size: 50px;
    text-align-last: center;
    
}
#box-1 {
    background-color: red;
}
#box-2 {
    background-color: green;
}
#box-3 {
    background-color: yellow;
}
/* fine sezione scarpe  */